In [40]:
import pandas as pd
from sqlalchemy import create_engine

In [41]:
engine = create_engine(
    "mysql+pymysql://root:1111@localhost:3306/retail_db"
)

In [42]:
query = "SELECT * FROM retail_raw"
df = pd.read_sql(query,engine)

In [60]:
df.shape

(21866, 28)

In [61]:
df.head(2).T

,0,1
Customer_ID,YSB75,FUS93
Product_ID,BW653,XV061
Order_ID,479577309,634865221
Customer_Age,28,47
Gender,Female,Male
Product_Name,Ariel Matic Top Load Liquid Detergent,VSR Channa Dal
MRP,977.44,834.09
Discount_Price,909.02,450.41
Category,Imported,Branded
State,Andhra Pradesh,Telangana
City,Rajahmundry,Nalgonda
Subscription,Premium,Freepass
Bill_Number,124000000000.0,214000000000.0
Time_Spent_on_Website,4.18,7.51
Rating,1.0,2.6
Marketing_Advertisement,Instagram,Facebook
Ship_Mode,Free,Free
Order_Status,Shipped,Shipped
Order_Date,2022-05-05 00:00:00,2021-08-13 00:00:00
Delivery_Date,2022-05-13 00:00:00,2021-08-20 00:00:00
Payment_Method,Credit,Debit
Pin_Code,318324,730162
Total_Order_Value,909.02,450.41
Payment_Status,Paid,Paid
No_of_Clicks,29,95
Year,2022,2021
Month,May,August
Shipping_Charges,0.0,0.0

In [45]:
df.dtypes

Customer_ID                object
Product_ID                 object
Order_ID                   object
Customer_Age               object
Gender                     object
Product_Name               object
MRP                        object
Discount_Price             object
Category                   object
State                      object
City                       object
Subscription               object
Bill_Number                object
Time_Spent_on_Website      object
Rating                     object
Marketing_Advertisement    object
Ship_Mode                  object
Order_Status               object
Order_Date                 object
Delivery_Date              object
Cancellation_Date          object
Payment_Method             object
Pin_Code                   object
Total_Order_Value          object
Payment_Status             object
No_of_Clicks               object
Year                       object
Month                      object
Shipping_Charges           object
dtype: object

In [59]:
df.drop(columns=["Cancellation_Date"],inplace=True)

In [46]:
# Datatype change
df["Customer_Age"] = df["Customer_Age"].astype("int64")
df["MRP"] = df["MRP"].astype("Float64")
df["Discount_Price"] = df["Discount_Price"].astype("float64")
df["Pin_Code"] = df["Pin_Code"].astype("int64")
df["Total_Order_Value"] = pd.to_numeric(df["Total_Order_Value"],errors="coerce")
df["No_of_Clicks"] = df["No_of_Clicks"].astype("int64")
df["Year"] = df["Year"].astype("int64")
df["Shipping_Charges"] = pd.to_numeric(df["Shipping_Charges"],errors="coerce")
df["Bill_Number"] = pd.to_numeric(df["Bill_Number"],errors="coerce")
df["Time_Spent_on_Website"] = df["Time_Spent_on_Website"].astype("float64")
df["Rating"] = pd.to_numeric(df["Rating"],errors="coerce")

In [47]:
df.columns

Index(['Customer_ID', 'Product_ID', 'Order_ID', 'Customer_Age', 'Gender',
       'Product_Name', 'MRP', 'Discount_Price', 'Category', 'State', 'City',
       'Subscription', 'Bill_Number', 'Time_Spent_on_Website', 'Rating',
       'Marketing_Advertisement', 'Ship_Mode', 'Order_Status', 'Order_Date',
       'Delivery_Date', 'Cancellation_Date', 'Payment_Method', 'Pin_Code',
       'Total_Order_Value', 'Payment_Status', 'No_of_Clicks', 'Year', 'Month',
       'Shipping_Charges'],
      dtype='object')

In [48]:
# Convert datetime formate
df["Delivery_Date"] = pd.to_datetime(df["Delivery_Date"],errors="coerce")

C:\Users\vaibh\AppData\Local\Temp\ipykernel_5888\4051144303.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["Delivery_Date"] = pd.to_datetime(df["Delivery_Date"],errors="coerce")

In [49]:
df["Order_Date"] = pd.to_datetime(
    df["Order_Date"],
    dayfirst=True,
    errors="coerce"
)

In [50]:
df["Order_Date"].isnull().sum()
df["Delivery_Date"].isnull().sum()

np.int64(0)

In [51]:
df["Order_Date"].head(20)
df["Order_Date"].unique()[:20]

<DatetimeArray>
['2022-05-05 00:00:00', '2021-08-13 00:00:00', '2021-10-17 00:00:00',
 '2021-08-25 00:00:00', '2023-12-08 00:00:00', '2022-06-29 00:00:00',
 '2022-08-28 00:00:00', '2022-03-20 00:00:00', '2023-01-08 00:00:00',
 '2022-11-07 00:00:00', '2021-03-27 00:00:00', '2021-01-03 00:00:00',
 '2023-04-30 00:00:00', '2023-09-07 00:00:00', '2023-10-07 00:00:00',
 '2022-07-25 00:00:00', '2023-09-29 00:00:00', '2023-07-21 00:00:00',
 '2023-05-10 00:00:00', '2021-08-18 00:00:00']
Length: 20, dtype: datetime64[ns]

In [52]:
df.dtypes

Customer_ID                        object
Product_ID                         object
Order_ID                           object
Customer_Age                        int64
Gender                             object
Product_Name                       object
MRP                               Float64
Discount_Price                    float64
Category                           object
State                              object
City                               object
Subscription                       object
Bill_Number                       float64
Time_Spent_on_Website             float64
Rating                            float64
Marketing_Advertisement            object
Ship_Mode                          object
Order_Status                       object
Order_Date                 datetime64[ns]
Delivery_Date              datetime64[ns]
Cancellation_Date                  object
Payment_Method                     object
Pin_Code                            int64
Total_Order_Value                 float64
Payment_Status                     object
No_of_Clicks                        int64
Year                                int64
Month                              object
Shipping_Charges                  float64
dtype: object

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Customer_ID              25000 non-null  object
 1   Product_ID               25000 non-null  object
 2   Order_ID                 25000 non-null  object
 3   Customer_Age             25000 non-null  int64
 4   Gender                   25000 non-null  object
 5   Product_Name             25000 non-null  object
 6   MRP                      25000 non-null  Float64
 7   Discount_Price           25000 non-null  float64
 8   Category                 25000 non-null  object
 9   State                    25000 non-null  object
 10  City                     25000 non-null  object
 11  Subscription             25000 non-null  object
 12  Bill_Number              25000 non-null  float64
 13  Time_Spent_on_Website    25000 non-null  float64
 14  Rating                   25000 non-null  float64
 15  Marketing_Advertisement  25000 non-null  object
 16  Ship_Mode                25000 non-null  object
 17  Order_Status             25000 non-null  object
 18  Order_Date               25000 non-null  datetime64[ns]
 19  Delivery_Date            25000 non-null  datetime64[ns]
 20  Cancellation_Date        25000 non-null  object
 21  Payment_Method           25000 non-null  object
 22  Pin_Code                 25000 non-null  int64
 23  Total_Order_Value        21866 non-null  float64
 24  Payment_Status           25000 non-null  object
 25  No_of_Clicks             25000 non-null  int64
 26  Year                     25000 non-null  int64
 27  Month                    25000 non-null  object
 28  Shipping_Charges         23216 non-null  float64
dtypes: Float64(1), datetime64[ns](2), float64(6), int64(4), object(16)
memory usage: 5.6+ MB

In [29]:
df["Customer_Age"].describe()

count    25000.000000
mean        43.856600
std         15.285775
min         18.000000
25%         31.000000
50%         44.000000
75%         57.000000
max         70.000000
Name: Customer_Age, dtype: float64

In [58]:
df.isnull().sum()

Customer_ID                0
Product_ID                 0
Order_ID                   0
Customer_Age               0
Gender                     0
Product_Name               0
MRP                        0
Discount_Price             0
Category                   0
State                      0
City                       0
Subscription               0
Bill_Number                0
Time_Spent_on_Website      0
Rating                     0
Marketing_Advertisement    0
Ship_Mode                  0
Order_Status               0
Order_Date                 0
Delivery_Date              0
Cancellation_Date          0
Payment_Method             0
Pin_Code                   0
Total_Order_Value          0
Payment_Status             0
No_of_Clicks               0
Year                       0
Month                      0
Shipping_Charges           0
dtype: int64

In [57]:
# Fill duplicate 
df["Total_Order_Value"].isnull().sum()

np.int64(0)

In [55]:
df = df.dropna(subset=["Total_Order_Value"])
df = df[df["Total_Order_Value"] != "Cancelled"]

In [63]:
df

,Customer_ID,Product_ID,Order_ID,Customer_Age,Gender,Product_Name,MRP,Discount_Price,Category,State,...,Order_Date,Delivery_Date,Payment_Method,Pin_Code,Total_Order_Value,Payment_Status,No_of_Clicks,Year,Month,Shipping_Charges
0,YSB75,BW653,479577309,28,Female,Ariel Matic Top Load Liquid Detergent,977.44,909.02,Imported,Andhra Pradesh,...,2022-05-05,2022-05-13,Credit,318324,909.02,Paid,29,2022,May,0.0
1,FUS93,XV061,634865221,47,Male,VSR Channa Dal,834.09,450.41,Branded,Telangana,...,2021-08-13,2021-08-20,Debit,730162,450.41,Paid,95,2021,August,0.0
2,AJP28,GF695,113166210,63,Female,Tenali Double Horse Chana Dal,1095.2,1007.58,Branded,Gujarat,...,2021-10-17,2021-10-26,Debit,694091,1007.58,Paid,51,2021,October,0.0
3,URC55,VM478,740539230,41,Male,Tata Tea,748.16,389.04,Imported,Maharashtra,...,2021-08-25,2021-08-27,Credit,211807,489.04,Pending,12,2021,August,100.0
4,ZOP23,XD230,156544145,22,Female,VSR Channa Dal,1249.04,911.80,Local,Gujarat,...,2023-12-08,2023-12-10,Credit,78304,1011.80,Paid,26,2023,December,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,BAT61,LO803,449449740,35,Male,Parle Nutricrunch Digestive Cookies,1520.07,790.44,Local,Telangana,...,2021-04-02,2021-04-04,UPI,567711,840.44,Pending,56,2021,April,50.0
24996,WMZ45,MO872,171612408,60,Male,Usha Heavy Weight Iron - El3710: 1000 W,1552.67,1242.14,Local,Telangana,...,2021-04-10,2021-04-13,Netbanking,445255,1342.14,Pending,16,2021,April,100.0
24997,KXS05,OY610,961751448,62,Male,Ariel Matic Front Load Liquid Detergent,384.13,361.08,Local,Andhra Pradesh,...,2023-09-01,2023-09-05,UPI,911393,511.08,Paid,31,2023,September,150.0
24998,AFZ10,ZY875,258727912,44,Male,Tenali Double Horse Chana Dal,283.66,209.91,Imported,Andhra Pradesh,...,2023-07-13,2023-07-23,Credit,546182,209.91,Pending,2,2023,July,0.0
24999,TRO41,KS726,962056465,55,Male,Amul Butter Unsalted,41.11,26.72,Imported,Maharashtra,...,2022-10-26,2022-11-05,Debit,939006,26.72,Paid,85,2022,October,0.0

In [64]:
df.shape

(21866, 28)

In [65]:
df.to_sql(
    name="retail_clean",
    con=engine,
    if_exists="replace",
    index=False
    )

21866